<div id="content" class="portal home">
    <div class="resize margin-center">
        <div class="wrapper">

          <div class="test">
            <div class="left text-right">
              <!-- <h1>{name}</h1> -->
              <p>MyOrdbok was launched in 2008. Ever since our focues are adding definitions, and keeping our resouces up to date.</p>

            </div>
            <div class="right text-center">
              <img src="/src/img/MyOrdbok.png" alt="MyOrdbok">
            </div>
          </div>
          <div class="test">
            <div class="right text-center">
              <i class="icon-lookup"></i>
            </div>
            <div class="left">
              <h2>In order to get the most relevant definition...</h2>
              <ul>
                  <li>...try with general words!</li>
                  <li>...check the spelling!</li>
                  <li>...make sure that you are defining <strong>asdfasdf</strong> in English!</li>
              </ul>
            </div>
          </div>
          <div class="test">
            <div class="left">
              <h2>Grammar</h2>
            </div>
            <div class="right">
              <i class="icon-language"></i>
            </div>
          </div>
          <div class="test">
            <div class="left">
              <h2>Font</h2>
            </div>
            <div class="right">
              <i class="icon-language"></i>
            </div>
          </div>
          <div class="test">
            <div class="left">
              <h2>Quote</h2>
            </div>
            <div class="right">
              <i class="icon-language"></i>
            </div>
          </div>
          <div class="test">
            <div class="left">
              <h2>Cookie</h2>
            </div>
            <div class="right">
              <i class="icon-language"></i>
            </div>
          </div>
          <h1>{name} {root} {http} {hostName}</h1>
          <h1>{Heading}</h1>
              {home.loop}
            <p>{Description}</p>
            <ul>
                {home.li}
            </ul>
            <p>Did you find what you were searching? Do you think that this dictionary is worth a small donation? Please give via Burma Center Prague. Thank you!</p>
            <p>We use cookies to enhance your experience on our website. By continuing to use our website, you are agreeing to our use of cookies. You can change your cookie settings at any time.ContinueFind out more</p>

            <p>All content on this website, including dictionary, thesaurus, literature, geography, and other reference data is for informational purposes only. This information should not be considered complete, up to date, and is not intended to be used in place of a visit, consultation, or advice of a legal, medical, or any other professional.
 </p>
        </div>
    </div>
</div>
