<header>
    <div>{menu_page}</div>
    <div>{menu_user}</div>
</header>
<div>
    <div class="">
        <form method="post">
            <h2>{Forgot your Password}</h2>
            <div>
                <span>{Username}</span>
                <input type="text" size="26" name="username" value="">
                <em>*</em>
            </div>
            <div>
                <span>{Email}</span>
                <input type="text" size="26" name="email" value="">
                <em>*</em>
            </div>
            <div class="submit">
                <input type="submit" name="submit" value="{Send password}">
            </div>
        </form>
    </div>
</div>
<footer>
    {pageFooter}
</footer>