<div id="content" class="portal">
    <div class="resize">
        <div class="wrapper">
          <div class="testing">
              <form method="POST">
                  <h2>From testing</h2>
                  <div class="{testing.class.email}">
                      <span>{Email}</span>
                      <input type="text" size="26" name="email" value="{testing.value.email}">
                      <em>{testing.mask.email}</em>
                  </div>
                  <div class="{testing.class.password}">
                      <span>{Password}</span>
                      <input type="password" size="26" name="password" value="{testing.value.password}">
                      <em>{testing.mask.password}</em>
                  </div>
                  <div class="{testing.class.country}">
                      <span>{Country}</span>
                      {testing.select.country}
                      <!-- <select name="country">
                          <option value="NO">Norway</option>
                      </select> -->
                      <em>{testing.mask.country} value:{testing.value.country}</em>
                  </div>
                  <div class="{testing.class.civil}">
                      <span>Civil status</span>
                      {testing.select.civil}
                      <!-- <input type="checkbox" name="civil" value="m"> Married -->
                      <em>{testing.mask.civil} value:{testing.value.civil}</em>
                  </div>
                  <div class="{testing.class.gender}">
                      <span>{Gender}</span>
                      {testing.select.gender}
                      <!-- <input type="radio" name="gender" value="m" checked> Male -->
                      <em>{testing.mask.gender} value:{testing.value.gender}</em>
                  </div>
                  <div class="{testing.class.interestedsport}">
                      <span>Interested sport (multi select)</span>
                      {testing.select.interestedsport}
                      <em>{testing.mask.interestedsport} value:{testing.value.interestedsport}</em>
                  </div>
                  <div class="submit">
                      <input type="submit" name="testing" value="{Submit}">
                  </div>
                  {testing.form.message}
              </form>
          </div>
        </div>
    </div>
</div>
<pre>
testing.input.password

testing.select.country
testing.select.civil
testing.select.gender

testing.select.gender

testing.input.name
testing.textarea.description
testing.text.gender
testing.submit.gender
</pre>