<div id="header" class="portal">
    <div class="resize">
        <div class="wrapper">
            <div class="column left">
                <ul>
                    <li class="actives">
                        <div class="icon-panel"></div>
                        {menu.page}
                    </li>
                </ul>
            </div>
            <div class="column right">

                <ul>
                    <li class="actives">
                        <div class="icon-user"><span style="display:none">Khen Solomon Lethil</span></div>
                        {menu.user}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>