<form method="POST" action="?chpro">
    <h2>{Update Profile}</h2>
    <div class="{chpro_class_firstname}">
        <span>{First name}</span>
        <input type="text" name="firstname" value="{chpro_value_firstname}">
        <em>{chpro_mask_firstname}</em>
    </div>
    <div class="{chpro_class_lastname}">
        <span>{Last name}</span>
        <input type="text" name="lastname" value="{chpro_value_lastname}">
        <em>{chpro_mask_lastname}</em>
    </div>
    <div class="{chpro_class_dob}">
        <span>{Date of birth}</span>
        <input type="text" size="26" name="dob" value="{chpro_value_dob}">
        <em>{chpro_mask_dob}</em>
    </div>
    <div class="{chpro_class_address}">
        <span>{Address}</span>
        <input type="text" size="26" name="address" value="{chpro_value_address}">
        <em>{chpro_mask_address}</em>
    </div>
    <div class="{chpro_class_postcode}">
        <span>{Postcode}</span>
        <input type="text" size="26" name="postcode" value="{chpro_value_postcode}">
        <em>{chpro_mask_postcode}</em>
    </div>
    <div class="{chpro_class_city}">
        <span>{City}</span>
        <input type="text" size="26" name="city" value="{chpro_value_city}">
        <em>{chpro_mask_city}</em>
    </div>
    <div class="{chpro_class_state}">
        <span>{State/Province}</span>
        <input type="text" size="26" name="state" value="{chpro_value_state}">
        <em>{chpro_mask_state}</em>
    </div>
    <div class="{chpro_class_country}">
        <span>{Country}</span>
        <input type="text" size="26" name="country" value="{chpro_value_country}">
        <em>{chpro_mask_country}</em>
    </div>
    <div class="{chpro_class_telephone}">
        <span>{Telephone}</span>
        <input type="text" size="26" name="telephone" value="{chpro_value_telephone}">
        <em>{chpro_mask_telephone}</em>
    </div>
    <div class="{chpro_class_mobile}">
        <span>{Mobile}</span>
        <input type="text" size="26" name="mobile" value="{chpro_value_mobile}">
        <em>{chpro_mask_mobile}</em>
    </div>
    <div class="{chpro_class_site}">
        <span>{Site}</span>
        <input type="text" size="26" name="site" value="{chpro_value_site}">
        <em>{chpro_mask_site}</em>
    </div>
    <div class="{chpro_class_profile}">
        <span>Please tell us about yourself!</span>
        <textarea name="profile" cols="26" rows="3">{chpro_value_profile}</textarea>
        <em>{chpro_mask_profile}</em>
    </div>
    <div class="submit">
      <input type="submit" name="chpro" value="{Update}">
    </div>
    {chpro_form_message}
</form>