<header>
    <div>{menu_page}</div>
    <div>{menu_user}</div>
</header>
<div>
    <div class="">
        <form method="POST">
            <h2>{Forgot your Password}</h2>
            <div class="{forgotpassword_class_email}">
                <span>{Email}</span>
                <input type="text" size="26" name="email" value="{forgotpassword_value_email}">
                <em>{forgotpassword_mask_email}</em>
            </div>
            <div class="submit">
                <input type="submit" name="forgotpassword" value="{Send password}">
            </div>
            {forgotpassword_form_message}
        </form>
    </div>
</div>
<footer>
    {pageFooter} - Code or Link activition goes here... {http} {name}
</footer>