<form method="POST" action="?cheml">
    <h2>{Change e-mail}</h2>
    <div class="{cheml_class_password}">
        <span>{Password}</span>
        <input type="password" size="26" name="password" value="{cheml_value_password}">
        <em>{cheml_mask_password}</em>
    </div>
    <div class="{cheml_class_email}">
        <span>{Email}</span>
        <input type="text" size="26" name="email" value="{cheml_value_email}">
        <em>{cheml_mask_email}</em>
    </div>
    <div class="submit">
        <input type="submit" name="cheml" value="{Change}">
    </div>
    {cheml_form_message}
</form>