<header>
    <div>{menu_page}</div>
    <div>{menu_user}</div>
</header>
<div>
    <div class="">
        <form method="POST">
            <h2>{Reset your Password}</h2>
            <div class="{resetpassword_class_code}">
                <span>{Code}</span>
                <input type="text" size="26" name="code" value="{resetpassword_value_code}" {resetpassword_visibility_code}>
                <em>{resetpassword_mask_code}</em> {resetpassword_visibility_code}
            </div>
            <div class="{resetpassword_class_password}">
                <span>{Password}</span>
                <input type="text" size="26" name="password">
                <em>{resetpassword_mask_password}</em>
            </div>
            <div class="submit">
                <input type="submit" name="resetpassword" value="{Reset password}">
            </div>
            {resetpassword_form_message} // ?code=HENOKBJ1ITQ3QX6GZGY
        </form>
    </div>
</div>
<footer>
    {pageFooter} - Code or Link activition goes here...
</footer>